target
Cargo.lock
*.bk
*.log
*.lp
*.sol
*.ilp
*.prm
gh-pages/
.idea/
.vscode/
changes.txt
*.grbr
watch_docs.sh
set_doc_window_id.sh
src/attribute/attr_enums.rs
src/parameter/param_enums.rs
env/
/*.sh
gurobi
